@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

:root {
    --color1: #0b0d10;
    --color2: #2b1c7e;
    --color3: #161a20;
    --color4: #C8ACD6;

    --color-h1: rgb(226, 226, 226);
    --color-h2: rgb(208, 179, 211);
}

html,
body {
    height: 100%;
    overflow-y: auto;
    font-size: 25px;
    min-height: 100vh;
}

body {
    font-family: 'Kanit';
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Kanit';
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    z-index: 0;
}

h1 {
    font-size: 55px;
    color: var(--color-h1);
    text-shadow: #b565ff9a 0px 3px 3px;
    cursor: default;
    user-select: none;
    margin: 0px;
}

h2 {
    color: var(--color-h2);
    text-shadow: #6432929a 0px 3px 3px;
    cursor: default;
    user-select: none;
    margin: 0px;
}

#main-container {
    /* box-shadow: 0px 0px 15px var(--color2); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 5px 1.2em 1em;
    gap: 0.5em;

    border-radius: 40px;
}

#link {
    font-size: 20px !important;
}

.button-menu {
    background-color: var(--color3);
    font-family: 'Kanit';
    font-size: 1em;
    color: #f0f0f0;
    position: relative;

    padding: 0.5em 1em;
    border: none;
    border-radius: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-menu::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 3px;
    border-radius: 90px;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index: -1;
}

@keyframes popIn {

    0%,
    100% {
        transform: scale(100%);
    }

    70% {
        transform: scale(103%);
    }
}

.button-menu:hover {
    box-shadow: 40px 0 100px #008cff70, -40px 0 100px #e100ff70;
    cursor: pointer;
    animation: popIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}